@model GroupStack.Models.GroupAssignment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GroupAssignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
@{
    var parameters = new Dictionary<string, string>
    {
        { "group", Model.GroupId.ToString() },
        { "student", Model.StudentId }
    };
}
        <form asp-action="Edit" asp-all-route-data="parameters">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupId" />
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="~/Groups/Details/@(Model.GroupId)">Back to Group</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
