body {
	background: #f1f1f1;
}
a {
	color: #a9a7a7;
	text-decoration: none;
}
.body {
	float: left;
	width: 85%;
	position: absolute;
	left: 195px;
	min-width: 420px;
	height: 100%;
}
.left_nav {
	min-width: 195px;
	height: 100%;
	min-height: 100%;
	float: left;
	background: #ffcc7d;
	text-align: center;
	padding-top: 50px;
	position: absolute;
	max-width: 195px;
}
.profile_img {
	width: 70px;
}
.profile_role {
	font-style: italic;
}
.dash_img {
	border-top: 1px solid #000;
	margin-top: 30px;
	padding-top: 30px;
}
.dash_img img {
	width: 30px;
	margin-bottom: 10px;
}
.dash_img a, .add_cohort a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}
.add_cohort {
	margin-top: 30px;
}
.add_cohort img {
	width: 40px;
}
.settings {
	position: absolute;
	bottom: 20px;
	left: 30px;
}
.settings img {
	width: 20px;
	margin-right: 10px;
	vertical-align: bottom;
}
.settings a {
	color: #000000;
	text-decoration: none;
	font-style: italic;
	font-size: 14px;
}
.content_header {
	padding: 30px 50px;
	border-bottom: 1px solid #ffffff;
}
.content_header h1 {
	font-size: 30px;
	margin-bottom: 25px;
}
.content_header h3 {
	font-size: 15px;
}
.content_header .logout {
	position: absolute;
	right: 50px;
	top: 35px;
	font-size: 14px;
}
.content_header .h_add_chrt {
	background: #ffc439a8;
	position: absolute;
	right: 50px;
	top: 80px;
	font-size: 12px;
	font-weight: 500;
	padding: 5px;
}
.content_header .h_add_chrt a {
	color: #000000;
}
.content_body {
	padding: 50px;
}
.content_body .block {
	width: 150px;
	background: #fff;
	border-radius: 10px;
	display: inline-block;
	padding: 15px 5px;
	text-align: center;
	margin-right: 5%;
	margin-bottom: 25px;
}
.content_body .title {
	font-size: 12px;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 5px;
}
.content_body .status {
	font-size: 12px;
}
.content_body .status img {
	font-size: 12px;
	vertical-align: top;
}
.content_body .action {
	margin-top: 5px;
	font-size: 14px;
}
.footer {
	position: absolute;
	bottom: 0;
	left: 45%;
	font-size: 14px;
}