@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">GroupStack</h1>
        <h4>What is GroupStack?</h4>
        <p>Foo</p>
        <h4>Who is GroupStack for?</h4>
        <p>Bar</p>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p><a href="~/UserManagement/">Shortcut to user management</a></p>

        <p><a href="~/Cohorts/">Shortcut to cohorts</a></p>
        <p><a href="~/Whitelists/">Shortcut to whitelists</a></p>

        <p><a href="~/Projects/">Shortcut to projects</a></p>
        <p><a href="~/Preferences/">Shortcut to preferences</a></p>

        <p><a href="~/Groups/">Shortcut to groups</a></p>
        <p><a href="~/GroupAssignments/">Shortcut to group assignments</a></p>
    </div>
