@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <h4>Privacy Warning!</h4>
        <p>This website does not currently use email verification upon registration. This feature should be enabled prior to use outside of a testing environment.</p>
        <p>This website is not currently set up to use HTTPS. Therefore, it is strongly advised that you do not use any password here while testing that could compromise your security elsewhere.</p>
    </div>